
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: #f4f9f4; /* soft green background */
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #055b80; 
}

.nav-left{
  display: flex;
  align-items: center;
}

.brand-name{
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}


.nav-right{
  display: flex;
  list-style: none;
}

.nav-right li{
  margin-left: 25px;
}

.nav-right a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-right a:hover{
  text-decoration: underline;
}